<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_TW</string>
		<string>zh_CN</string>
		<string>zh_HK</string>
		<string>ko</string>
		<string>ja</string>
		<string>vi</string>
		<string>ru</string>
		<string>tr</string>
		<string>de</string>
		<string>es</string>
		<string>pt</string>
		<string>tl</string>
		<string>id</string>
	</array>
	<key>CFBundleName</key>
	<string>DataDash</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appcenter-f69d3fff-c177-4cef-81bd-b306f910edd7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx496db1d33c8fda79</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoibXhjZGF0YWRhc2giLCJhIjoiY2s5bnc4dmh4MDBiMDNnbnczamRoN2ExeCJ9.sq0w8DGDXpA_6AMoejYaUw</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Media Library?</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Calendar?</string>
	<key>NSCameraUsageDescription</key>
	<string>Enable DataDash to access your camera roll to scan the QR code of your LPWAN devices</string>
	<key>NSContactsUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Contacts?</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Biometric?</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turn on location services to find LPWAN devices near you</string>
	<key>NSLocationUsageDescription</key>
	<string>Turn on location services to find LPWAN devices near you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turn on location services to find LPWAN devices near you</string>
	<key>NSMotionUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Motion?</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Photo?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Album?</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Would you allow MXC SmartCity to use the Speech Recognition?</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
